<div class="container">
  <app-header></app-header>
  <button *ngIf="showCreateArticleButton" class="btn btn-success" (click)="toogleArticleCreator()">Write article</button>
  <app-create-article *ngIf="showCreateArticle"
                    (cancel)=toogleArticleCreator()
                    (sumbittedArticle)=toggleSubmitValue($event)
  ></app-create-article>
    <router-outlet></router-outlet>
</div>
