.listOfTags{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.badgeTagSmall{
  justify-content: space-between;
  margin-right: 5px;
  margin-top: 5px;
}
