<div class="jumbotron">
  <h3><span class="badge badge-primary">{{categorie.name}}</span></h3>
  <hr class="my-2">
  <h5 *ngIf="article.status"><span class="badge badge-success">Published</span></h5>
  <h5 *ngIf="!article.status"><span class="badge badge-warning">Draft</span></h5>
  <h1 class="display-4">{{article.title}}</h1>
  <p class="lead">{{article.articleAbstract}}</p>
  <hr class="my-2">
  <p>Written by <strong>{{author.pseudo}}</strong></p>
  <hr class="my-2">
  <p>{{article.content}}</p>
  <ul class="listOfTags">
  <span *ngFor="let tag of this.taglist" class="badge badge-primary badgeTagSmall">{{tag.name}}</span>
  </ul>
</div>
<app-delete-article (deletedArticle)="deletedToogle()"
[article]="article"></app-delete-article>

