.articleList{
  list-style-type: none;
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  padding: 0;
  width: 100%;
}

.articleCard{
  margin-right: 15px;
}
