.listOfTags{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.badgeTagSmall{
  justify-content: space-between;
  margin-right: 5px;
  margin-top: 5px;
}

.cardAbstract{
  display: flex;
  flex-wrap: wrap;
  height: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card{
  margin-bottom: 20px;
}
