<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h3><span class="badge badge-light">{{categorie.name}}</span></h3>
    <hr class="my-2">
    <h5 class="card-title">{{article.title}}</h5>
    <hr class="my-2">
    <p class="card-text cardAbstract">{{article.articleAbstract}}</p>
    <hr class="my-2">
    <a routerLink="/article/{{article.id}}" routerLinkActive="active" class="btn btn-primary">More ...</a>
    <hr class="my-2">
    <div class="listOfTags">
      <span class="badge badge-primary badgeTagSmall" *ngFor="let tag of tagList">{{tag.name}}</span>
    </div>
  </div>
</div>
