.formButtonsContainer {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: row;
  justify-content: space-between;
}

.alarmsButtons {
  margin: 10px 0px 0px 0px;
}

.btn-success{
  color: white;
}
