<div class="formButtonsContainer">
  <div class="alarmsButtons">
    <a (click)="cancelArticleCreation()" class="deleteButton btn btn-warning">Cancel creation</a>
  </div>
  <div class="alarmsButtons">
    <a (click)="createArticle()" class="btn btn-success">Create article</a>
  </div>
</div>
<div class="form-group">
  <label for="exampleFormControlSelect1">Which author are you ?</label>
  <select required type="text" [(ngModel)]="user" class="form-control" id="exampleFormControlSelect1">
    <option *ngFor="let user of userList" value="{{user.id}}">{{user.pseudo}}</option>
  </select>
  <small class="form-text text-muted">Select in the list</small>
</div>
<div class="form-group">
  <label for="exampleInputEmail1">Title</label>
  <input [(ngModel)]="title" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
</div>
<div class="form-group">
  <label>Abstract</label>
  <textarea [(ngModel)]="abstract" class="form-control" rows="3"></textarea>
  <small class="form-text text-muted">Must not exceed 50 words</small>
</div>

<div class="form-group">
  <label>Article content</label>
  <textarea [(ngModel)]="content" class="form-control" rows="3"></textarea>
</div>

<div class="form-group">
  <label for="exampleFormControlSelect1">Categorie</label>
  <select [(ngModel)]="categorie" class="form-control">
    <option *ngFor="let categorie of categorieList" value="{{categorie.id}}">{{categorie.name}}</option>
  </select>
  <small class="form-text text-muted">Select in the list</small>
</div>
<div class="form-group">
  <label for="exampleFormControlSelect1">Tag</label>
  <select [(ngModel)]="tag" class="form-control">
    <option *ngFor="let tag of tagList" value="{{tag.id}}">{{tag.name}}</option>
  </select>
  <small class="form-text text-muted">Select in the list</small>
</div>
<div class="form-group form-check">
  <input [(ngModel)]="status" type="checkbox" class="form-check-input" id="exampleCheck1">
  <label class="form-check-label" for="exampleCheck1">Direct publish</label>
</div>
<div class="formButtonsContainer">
  <div class="alarmsButtons">
    <a (click)="cancelArticleCreation()" class="deleteButton btn btn-warning">Cancel creation</a>
  </div>
  <div class="alarmsButtons">
    <a (click)="createArticle()" class="btn btn-success">Create article</a>
  </div>
</div>
